<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Purchase Orders</title>
</head>
<body>
	<header>
		<h1>All Purchase Orders</h1>
	</header>
	<p><a href="/inventory/">Inventory Home</a></p>
	<p><a href="/inventory/purchase_orders/add">Add Purchase Order</a></p>
    <table>
        <tbody>
            <tr>
                <th>| PO Number | </th>
                <th>Status | </th>
                <th>Order Date | </th>
            </tr>
                {% for entry in table %}
                    <tr>
                        <td>| {{ entry.po_num }}</td>
                        <td>| {{ entry.status }}</td>
                        <td>| {{ entry.date }}</td>
                        <td>| <a href="/inventory/purchase_orders/zoom/{{ entry.po_num }}">zoom</a></td>
                        {% if entry.status == 'Unposted' %}
                            <td>| <a href="/inventory/purchase_orders/edit/{{ entry.po_num }}">edit</a></td>
                            <td>| <a href="/inventory/purchase_orders/delete/{{ entry.po_num }}/">delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</body>
</html>