{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Store - Home</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="panel-container">
        <h1>Auto Store Homepage</h1>

        {% if user and user.is_authenticated %}
            <h2>Welcome, {{ user.first_name }} {{ user.last_name }}.</h2>
        {% else %}
            <h2>Welcome, guest.</h2>
        {% endif %}

        <div>
            <a class="btn" href="/inventory/">View Inventory</a>
            {% if user and user.is_authenticated %}
                <a class="btn" href="/logout/">Logout</a>
            {% else %}
                <a class="btn" href="/login/">Login</a>
            {% endif %}
        </div>
    </div>
</body>
</html>