<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item Zoom</title>
  </head>
  <body>
    <h1>Item Zoom</h1>
    <p><a href="/inventory/items/">Back to items</a></p>
    <h2>{{item.name}} - {{total_quantity}}</h2>
    <table>
      <tr>
        <th>Location</th>
        <th>Quantity</th>
        <th>Address</th>
        {% for location in loc_table %}
          <tr>
            <td>{{ location.location_id }}</td>
            <td>{{ location.quantity_on_hand }}</td>
            <td>{{ location.location_address }}</td>
          </tr>
        {% endfor %}
    </table>
  </body>
</html>

