<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Purchase Order</title>
</head>
<body>
	<header>
		<h1>Purchase Order Zoom</h1>
	</header>
	<a href="/inventory/purchase_orders/">Back to Overview</a>
	<h2>PO #{{ po_num }}</h2>
	<table>
		<thead>
			<tr>
				<th>Item</th>
				<th>Ordered</th>
				<th>Received</th>
                <th>Location</th>
                <th>Order Date</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in po_table %}
			<tr>
				<td>| {{ entry.item_id.id }}</td>
				<td>| {{ entry.quantity_ordered }}</td>
				<td>| {{ entry.quantity_received }}</td>
                <td>| {{ entry.location_id.id }}</td>
                <td>| {{ entry.order_date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
